/*
  CSS Reset by Josh W Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
	Fonts
*/

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa.woff2') format('woff2'),
        url('Comfortaa.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/*
	Styles
*/

:root {
	--dark-bg: #343434;
	--dark-bg-translucent: #34343477;
  --light-bg: #fafafa;
  --light-bg-translucent: #7386e27e;
  --light-bg-translucent2: #9fabe455;
	
	--light-fg: #ffffff;

  --shadow: #1f1f1f;
}

body {
	background-color: var(--dark-bg);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: underline;
	color: inherit;
}

#page-container {
	height: 95%;
	max-width: 80%;
	justify-content: start;
	margin: 0 auto;
	display: flex;
  background-color: var(--light-bg);
}

.image-container {
	flex: 0 0 400px;
	position: relative;
  overflow: hidden;
}

img {
	height: 100%;
	object-fit: cover;
  filter: blur(1px) sepia(1) brightness(1.2) saturate(0.7);
}

.logo-container {
	position: absolute;
	top:  38%;
	width: 120%;
  left: -10%;
	height: 3rem;
	background-color: var(--light-bg-translucent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  box-shadow: 
    0 0.5rem 0.7rem var(--light-bg-translucent),
    0 -0.5rem 0.7rem var(--light-bg-translucent);
}

.logo-container > span,
.logo-container > svg {
  color: var(--light-fg);
  margin: auto 0;
}

.logo-container > span {
  font-family: Comfortaa;
  font-size: 2rem;
  scale: 1 1.2;
  font-weight: 900;
  text-shadow: 0.1rem 0.1rem 0.15rem var(--shadow);
}

.logo-container > svg {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--shadow));
  scale: 1 1.2;
}

.attribution {
	position: absolute;
	bottom: 2%;
	left: 2%;
	color: white;
	font-size: 0.5rem;
	background-color: var(--dark-bg-translucent);
	padding: 0 0.5rem;
}

.form-container {
	flex: 0 0 600px;
	background-color: var(--light-bg-translucent2);
  font-family: Helvetica, sans-serif;
  padding: 5rem 0 0 0;
  font-family: Calibri, "Segue UI", sans-serif;
}

header, form, footer {
  background-color: var(--light-bg);
  margin: 2rem 2rem 4rem 2rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  line-height: 1.15;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 800;
}