/*
  CSS Reset by Josh W Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
	Styles
*/

a {
	text-decoration: underline;
	color: inherit;
}

body {
	background-color: #343434;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#page-container {
	height: 95%;
	max-width: 80%;
	justify-content: start;
	margin: 0 auto;
	display: flex;
}

.image-container {
	flex: 1 0 200px;
	position: relative;
  overflow: hidden;
}

img {
	height: 100%;
	object-fit: cover;
}

.logo-container {
	position: absolute;
	top:  40%;
	width: 120%;
  left: -10%;
	height: 4rem;
	background-color: #34343477;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  box-shadow: 
    0 0.5rem 0.7rem #34343477,
    0 -0.5rem 0.7rem #34343477;
}

.logo-container > span,
.logo-container > svg {
  color: white;
  margin: auto 0;
}

.attribution {
	position: absolute;
	bottom: 2%;
	left: 2%;
	color: white;
	font-size: 0.5rem;
	background-color: #34343477;
	padding: 0 0.5rem;
}

.form-container {
	flex: 1 0 400px;
	border: 1px solid red;
}