@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Bold.woff2') format('woff2'),
        url('Comfortaa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Thin.woff2') format('woff2'),
        url('Comfortaa-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa.woff2') format('woff2'),
        url('Comfortaa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

